*{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav
{
  height: 120px;
  box-shadow: 2px -2px 8px #7A7FBF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #A8ABCA;
}

.logo
{
  width: 40%;
  padding-left: 55px;
}

.logo h1
{
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 2px 2px 2px #434BA8;
}

.manu
{
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.manu a
{
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
  padding: 8px;
  color: #20223E;
  margin-right: 4px;
  position: relative;
 
}

.manu a::before
{
  content: " ";
  position: absolute;
  top: 90%;
  left: 0;
  width: 0;
  height: 3px;
  background-color: black;
  transition: all .3s linear ;
}

.manu a:hover::before
{
  width: 100%;
  background-color: #081066;
}